{% liquid 
  for filter in collection.filters
    if filter.type == "price_range"
      if filter.min_value.value > 0 or filter.max_value.value < filter.range_max
        assign active_filter_values = 1 | plus: active_filter_values
      endif
    else
      assign active_filter_values = filter.active_values.size | plus: active_filter_values
    endif
  endfor
%}

<div class="collection-utilities mb-5 {% unless section.settings.show_product_count %}justify-content-end{% endunless %}">
  {% if section.settings.show_product_count %}
    <p class="collection-product-count small mb-0">
      {{ 'collection.count_products' | t: count: collection.products_count }}
    </p>
  {% endif %}
  
   <collection-filters 
    id="collection-filters" 
    class="collection-filters">
      <form class="collection-filters-form">
{% for filter in collection.filters %}
            <div class="collapse-wrapper" role="listitem">
              <button
                id="filters-collapse-btn-{{ forloop.index }}" 
                class="" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#filters-collapse-{{ forloop.index }}" 
                aria-expanded="true" 
                aria-controls="filters-collapse-{{ forloop.index }}">
                {{ filter.label }}
                {% render 'svg-icons', icon: 'chevron-down', size: 18 %}
              </button>
              <div id="filters-collapse-{{ forloop.index }}" class="collapse show">
                <div class="collapse-inner">
                  {% case filter.type %}

                    {% when 'list' %}
                      <ul 
                        class="list-unstyled mb-0"
                        ari-labelledby="filters-collapse-btn-{{ forloop.index }}">
                        {% for filter_value in filter.values %}
                          <li class="form-check">
                            <input 
                              type="checkbox" 
                              id="filter-{{ filter.p.m.custom.material }}-{{ forloop.index }}"
                              class="form-check-input" 
                              name="{{ filter_value.param_name }}" 
                              value="{{ filter_value.value }}"
                              {% if filter_value.active -%}checked{%- endif %}
                              {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}>
                            <label 
                              class="form-check-label" 
                              for="filter-{{ filter.p.m.custom.material }}-{{ forloop.index }}">
                              <div class="d-flex">
                                <span>{{ filter_value.label | escape }}</span>
                                <span class="ms-2">({{ filter_value.count }})</span>
                              </div>
                            </label>
                          </li>
                        {% endfor %}
                      </ul>
                  
                  {% endcase %}
                </div>
              </div>
            </div>
          {% endfor %}
      </form>
     </collection-filters>


   <collection-filters 
    id="collection-filters" 
    class="collection-filters">
      <form class="collection-filters-form">
{% for filter in collection.filters %}
            <div class="collapse-wrapper" role="listitem">
                        <button
                id="filters-collapse-btn-{{ forloop.index }}" 
                class="" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#filters-collapse-{{ forloop.index }}" 
                aria-expanded="true" 
                aria-controls="filters-collapse-{{ forloop.index }}">
                {{ filter.label }}
                {% render 'svg-icons', icon: 'chevron-down', size: 18 %}
              </button>
              <div id="filters-collapse-{{ forloop.index }}" class="collapse show">
                <div class="collapse-inner">
                  {% case filter.type %}
                    {% when 'price_range' %}
                      {% liquid                                           
                        if filter.min_value.value
                          assign filter_min_value = filter.min_value.value | money_without_currency | replace: ',', ''
                        else 
                          assign filter_min_value = 0
                        endif

                        if filter.max_value.value
                          assign filter_max_value = filter.max_value.value | money_without_currency | replace: ',', ''
                        else 
                          assign filter_max_value = filter.range_max | money_without_currency | replace: ',', ''
                        endif
                      %}
                      
                      <div class="filter-price-group row mx-n2">
                        <div class="col-9 px-2">
                          <div class="input-group">
                            <span class="input-group-text px-3">
                              {{ cart.currency.symbol }}
                            </span>
                            <input 
                              class="form-control"
                              name="{{ filter.min_value.param_name }}"
                              value="{{ filter_min_value }}"
                              type="number"
                              min="0"
                              max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                              placeholder="{{ 'collection.filters.from' | t }}"
                              aria-label=" {{ 'collection.filters.from' | t }}">
                          </div>
                        </div>
                        <div class="col-9 px-2">
                          <div class="input-group">
                            <span class="input-group-text px-3">
                              {{ cart.currency.symbol }}
                            </span>
                            <input 
                              class="form-control"
                              name="{{ filter.max_value.param_name }}"
                              value="{{ filter_max_value }}"
                              type="number"
                              min="0"
                              max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                              placeholder="{{ 'collection.filters.to' | t }}"
                              aria-label="{{ 'collection.filters.to' | t }}">
                          </div>
                        </div>
                      </div>
                  {% endcase %}
                </div>
              </div>
            </div>
          {% endfor %}

      </form>
     </collection-filters>




  
  {% if section.settings.show_filters or section.settings.show_sort_by %}
    <div class="d-flex align-items-center mx-n2 ">
      {% if section.settings.show_filters %}
        <button 
          class="btn btn-sm mx px-4 mx-2 {{ section.settings.filters_btn_color }} d-desktop-none p-0" 
          type="button" 
          data-bs-toggle="offcanvas" 
          data-bs-target="#offcanvas-collection-filters"
          aria-controls="offcanvas-collection-filters">
          <span class="d-flex align-items-center">
            {% render 'svg-icons', icon: 'filter', size: 16, class: 'me-3' %}
            {{ 'collection.filters.btn_text' | t }}
            {% if active_filter_values > 0 %}
              ({{ active_filter_values }})
            {% endif %}
          </span>
        </button>
      {% endif %}
      {% if section.settings.show_sort_by %}
        <sort-by class="sort-by dropdown">
          <button 
            class="btn btn-sm px-4 dropdown-toggle mx-2 {{ section.settings.sort_by_btn_color }}" 
            type="button" 
            data-bs-toggle="dropdown" 
            aria-expanded="false">
            {{ 'collection.sort_by' | t }}
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            {% for option in collection.sort_options %}
              <li>
                <input 
                  type="radio" 
                  class="btn-check" 
                  name="sort_by" 
                  id="sort-by-{{ option.value }}" 
                  value="{{ option.value }}"
                  {% if option.value == collection.sort_by %}checked{% endif %}>
                <label class="dropdown-item" for="sort-by-{{ option.value }}">
                  {{ option.name }}
                </label>
              </li>
            {% endfor %}
          </ul>
        </sort-by>
      {% endif %}
    </div>
  {% endif  %}
</div>