{% comment %}
  Renders an "Add to cart" button or a "Quick view" button if the product has multiple variants
  Usually it is used with the product card

  Accepts:
  - product: {object} The product object
  - btn_color {string} (Optional) The button color class (bootstrap) to apply to the button

  Usage:
  {% render 'product-card-form' product: product  %}
{% endcomment %}
{% include 'storeifyapps.quote.header' %}
{% liquid 
  assign btn_color = btn_color | default: settings.product_card_atc_btn_color
%}
 {% assign lable_btn = "Add to Quote" %}
		{% if shop.metafields.storeifyquote %}
			{% assign locale_current = shop.locale %}
			{% assign quote_lang = shop.metafields.storeifyquote.quote_lang %}
			{% if  quote_lang contains locale_current %}
				{% assign lable_btn = quote_lang[locale_current].btn_addquote  %}
			{% else %}
			    {% assign lable_btn = quote_lang.default.btn_addquote  %}
			{% endif %}
		{% endif %}
		<div class="ify-hide ify-quote-group ify-quote-group-{{product.id}}" data-targetid="{{product.id}}" data-targethandle="{{product.handle}}">
<button type="button" class="storeify-quote-btn-trigger-popup btn button button--primary ify-button-code" data-product="{{ product.handle }}">{{ lable_btn }}</button>
{% assign productCollections = product.collections | map:'id' %}
<script id="ify_script_item_{{product.id}}">
	storeifyRequestaquote.productdata = storeifyRequestaquote.productdata || {};
	storeifyRequestaquote.productdata['{{product.id}}'] = {"id":{{ product.id }},"title":`{{ product.title }}`,"handle":"{{ product.handle }}","available":{{ product.available }},"vendor":"{{ product.vendor }}","type":"{{ product.type }}","tags":{{ product.tags | json }}};
	storeifyRequestaquote.collections['{{product.id}}'] = {{ productCollections | json }};
</script>
</div>
<product-form>
  {% form 'product', product, data-productid: product.id %}
    {% if product.has_only_default_variant %}
      <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ product.first_available_variant.id }}">
    {% else %}
      <select 
        class="form-select form-select-sm mb-3"
        name="id" 
        aria-label="{{ 'product.select_variant' | t }}">
        {% for variant in product.variants %}
          <option value="{{ variant.id }}" {% unless variant.available %}disabled{% endunless %}>
            {{ variant.title }} 
          </option>
        {% endfor %}
      </select>
    {% endif %}
    <button
      class="btn btn-atc btn-sm {{ btn_color }}"
      type="submit"
      name="add"
      {% unless product.available %}disabled{% endunless %}>
      {% if product.available %}
        {{ 'product.add_to_cart' | t }}
      {% else %}
        {{ 'product.sold_out' | t }}
      {% endif %}
    </button>
  {% endform %}
</product-form>
