{% comment %}
  Renders an "Add to cart" button or a "Quick view" button if the product has multiple variants
  Usually it is used with the product card

  Accepts:
  - product: {object} The product object
  - btn_color {string} (Optional) The button color class (bootstrap) to apply to the button

  Usage:
  {% render 'product-card-form' product: product  %}
{% endcomment %}

{% liquid 
  assign btn_color = btn_color | default: settings.product_card_atc_btn_color
%}

<product-form>
  {% form 'product', product, data-productid: product.id %}
    {% if product.has_only_default_variant %}
      <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ product.first_available_variant.id }}">
    {% else %}
      <select 
        class="form-select form-select-sm mb-3"
        name="id" 
        aria-label="{{ 'product.select_variant' | t }}">
        {% for variant in product.variants %}
          <option value="{{ variant.id }}" {% unless variant.available %}disabled{% endunless %}>
            {{ variant.title }} 
          </option>
        {% endfor %}
      </select>
    {% endif %}
{% render 'storeify-quote',product: product_card_product %}
  {% endform %}
</product-form>
