
{% liquid 
  assign pt = block.settings.pt | prepend: 'pt-'
  assign pb = block.settings.pb | prepend: 'pb-'
%}

{% unless product.has_only_default_variant %}
  <ul 
    class="product-options list-unstyled mb-0 {{ pt }} {{ pb }}"
    aria-label="{{ 'product.product_options' | t }}">
    {% for option in product.options_with_values %}
      <li class="py-3">
        {% if block.settings.options_style == 'buttons' %}
          <p class="mb-1">
            {{ option.name }}
          </p>
          <ul class="size-buttons list-unstyled">
            {% for value in option.values %}
              <li>
                {% assign variant = product.variants | where: 'option1', value | first %}
                <input 
                  class="visually-hidden" 
                  type="radio" 
                  name="option-{{ option.name | handleize }}" 
                  id="option-{{ option.name | handleize }}-{{ value | handleize }}" 
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}checked{% endif %}>
                <label for="option-{{ option.name | handleize }}-{{ value | handleize }}">
                  {{ value }}

                  {% if variant %}
                    <!-- Price display -->
                    {% if variant.compare_at_price > variant.price %}
                      <span class="product-price-final-sale">
                        {{ variant.price | money_without_trailing_zeros }}
                      </span>
                      <s class="product-price-compare">
                        {{ variant.compare_at_price | money_without_trailing_zeros }}
                      </s>
                      <span class="badge product-sale-badge">
                        {{ 'product.save' | t }}
                        {% if block.settings.badge_discount_type == 'percentage' %}
                          {{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price | round | append: '%' }}
                        {% else %}
                          {{ variant.compare_at_price | minus: variant.price | money_without_trailing_zeros }}
                        {% endif %}
                      </span>
                    {% else %}
                      <span class="product-price-final">
                        {{ variant.price | money_without_trailing_zeros }}
                      </span>
                    {% endif %}
                    
                    <!-- Stock status -->
                    {% unless variant.available %}
                      <span class="badge product-sold-out-badge">
                        {{ 'product.sold_out' | t }}
                      </span>
                    {% endunless %}
                  {% endif %}
                </label>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endunless %}


  