
{% liquid 
  assign pt = block.settings.pt | prepend: 'pt-'
  assign pb = block.settings.pb | prepend: 'pb-'
%}

{% unless product.has_only_default_variant %}
  <ul 
    class="product-options list-unstyled mb-0 {{ pt }} {{ pb }}"
    aria-label="{{ 'product.product_options' | t }}">
    {% for option in product.options_with_values %}
      <li class="py-3">
        {% if block.settings.options_style == 'buttons' %}
          <p class="mb-1">
            {{ option.name }}
          </p>
          <ul class="size-buttons list-unstyled">
            {% for value in option.values %}
              <li>
                {% assign variant = product.variants | where: 'option1', value | first %}
                <input 
                  class="visually-hidden" 
                  type="radio" 
                  name="option-{{ option.name | handleize }}" 
                  id="option-{{ option.name | handleize }}-{{ value | handleize }}" 
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}checked{% endif %}>
                <label for="option-{{ option.name | handleize }}-{{ value | handleize }}">
                  {{ value }}<br/>
                  {% if variant %}
                    <div 
  class="product-price {{ block.settings.font_size }} {{ pt }} {{ pb }}"
  {{ block.shopify_attributes }}>

  <div class="d-flex align-items-center">

    <s 
      class="product-price-compare" 
      {% unless current_variant.compare_at_price > current_variant.price %}hidden{% endunless %}>
      <span class="visually-hidden">
        {{ 'product.regular_price' | t }} 
      </span>
      {{ current_variant.compare_at_price | money_without_trailing_zeros }}
    </s>

    <span class="product-price-final {% if current_variant.compare_at_price > current_variant.price %}product-price-final-sale{% endif %}">
      {% if current_variant.compare_at_price > current_variant.price %}
        <span class="visually-hidden">
          {{ 'product.sale_price' | t }} 
        </span>
      {% endif %}
      {{ current_variant.price | money_without_trailing_zeros }}
    </span>

    <span 
      class="product-sale-badge badge" 
      data-discount-type="{{ block.settings.badge_discount_type }}"
      {% unless current_variant.compare_at_price > current_variant.price %}hidden{% endunless %}>
      {{ 'product.save' | t }}
      {% if current_variant.compare_at_price > 0 %}
        {% if block.settings.badge_discount_type == 'percentage' %} 
          {{ current_variant.compare_at_price | minus: current_variant.price | times: 100 | divided_by: current_variant.compare_at_price | round | append: '%' }}
        {% else %}
          {{ current_variant.compare_at_price | minus: current_variant.price | money_without_trailing_zeros }}
        {% endif %}
      {% endif %}
    </span> 

    <span 
      class="product-sold-out-badge badge"
      {% if current_variant.available %}hidden{% endif %}>
      {{ 'product.sold_out' | t }}
    </span>    
  </div>
      
</div>
                    {{ variant.price | money }}
                  {% endif %}
                </label>
              </li>
            {% endfor %}
          </ul>
   
      </li>

  </ul>


     
        {% else %}
          <label class="form-label" for="option-{{ option.name | handleize }}">
            {{ option.name }}
          </label>
          <select
            id="option-{{ option.name | handleize }}"
            name="option-{{ option.name | handleize }}"
            class="form-select">
            {% for value in option.values %}
              <option 
                value="{{ value | escape }}" {% if value == option.selected_value %}selected{% endif %}>
                {{ value }}
              </option>
            {% endfor %}
          </select>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endunless %}



