<script>
  document.querySelectorAll('.variant-selector').forEach(selector => {
    selector.addEventListener('change', () => {
      const selectedVariant = {{ product.variants | json }}.find(variant => {
        return variant.options.every((option, index) => {
          const selectedValue = document.querySelector(`input[name="option-${option.name | handleize}"]:checked`)?.value || 
            document.querySelector(`#option-${option.name | handleize}`)?.value;
          return option === selectedValue;
        });
      });

      if (selectedVariant) {
        const mediaId = selectedVariant.featured_media ? selectedVariant.featured_media.id : {{ product.media.first.id }};
        const activeSlide = document.querySelector(`.swiper-slide[data-media-id="${mediaId}"]`);
        if (activeSlide) {
          activeSlide.scrollIntoView({ behavior: 'smooth', block: 'nearest' });
        }
      }
    });
  });
</script>
{% liquid 
  assign pt = block.settings.pt | prepend: 'pt-'
  assign pb = block.settings.pb | prepend: 'pb-'
%}

{% unless product.has_only_default_variant %}
  <ul 
    class="product-options list-unstyled mb-0 {{ pt }} {{ pb }}"
    aria-label="{{ 'product.product_options' | t }}">
    {% for option in product.options_with_values %}
      <li class="py-3">
        {% if block.settings.options_style == 'buttons' %}       
          <p class="mb-1">
            {{ option.name }}
          </p>
          <ul class="size-buttons list-unstyled">
            {% for value in option.values %}
              <li>
                <input 
                  class="visually-hidden variant-selector" 
                  type="radio" 
                  name="option-{{ option.name | handleize }}" 
                  id="option-{{ option.name | handleize }}-{{ value | handleize }}" 
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}checked{% endif %}>
                <label for="option-{{ option.name | handleize }}-{{ value | handleize }}">
                  {{ value }}
                </label>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <label class="form-label" for="option-{{ option.name | handleize }}">
            {{ option.name }}
          </label>
          <select
            id="option-{{ option.name | handleize }}"
            name="option-{{ option.name | handleize }}"
            class="form-select variant-selector">
            {% for value in option.values %}
              <option 
                value="{{ value | escape }}" {% if value == option.selected_value %}selected{% endif %}>
                {{ value }}
              </option>
            {% endfor %}
          </select>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endunless %}
