{% comment %}
  Renders an "Add to cart" button or a "Quick view" button if the product has multiple variants
  Usually it is used with the product card

  Accepts:
  - product: {object} The product object
  - btn_color {string} (Optional) The button color class (bootstrap) to apply to the button

  Usage:
  {% render 'product-card-form' product: product  %}
{% endcomment %}
      <link rel="stylesheet" href="{{ 'storeify-requestaquote-styles.css' | asset_url }}" media="print" onload="this.media='all'">
            <link rel="stylesheet" href="{{ 'storeify-requestaquote-hidden.css' | asset_url }}" media="print" onload="this.media='all'">
{% liquid 
  assign btn_color = btn_color | default: settings.product_card_atc_btn_color
%}

<product-form>
  {% form 'product', product, data-productid: product.id %}
    {% if product.has_only_default_variant %}
      <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ product.first_available_variant.id }}">
    {% else %}
      <select 
        class="form-select form-select-sm mb-3"
        name="id" 
        aria-label="{{ 'product.select_variant' | t }}">
        {% for variant in product.variants %}
          <option value="{{ variant.id }}" {% unless variant.available %}disabled{% endunless %}>
            {{ variant.title }} 
          </option>
        {% endfor %}
      </select>
    {% endif %}
    {% assign label_btn = "Request a quote" %}
{% if shop.metafields.storeifyquote %}
    {% assign locale_current = shop.locale %}
    {% assign storeify_quote_mode = shop.metafields.storeifyquote.quote_settings.mode %}
    {% assign quote_lang = shop.metafields.storeifyquote.quote_settings.lang %}
    {% if quote_lang contains locale_current %}
        {% if storeify_quote_mode == 1 %}
          {% assign label_btn = quote_lang[locale_current].btn_addquote  %}
        {% else %}
          {% assign label_btn = quote_lang[locale_current].call_for_price  %}
         {% endif %}
    {% else %}
        {% if storeify_quote_mode == 1 %}
          {% assign label_btn = quote_lang.default.btn_addquote  %}
        {% else %}
          {% assign label_btn = quote_lang.default.call_for_price  %}
        {% endif %}
    {% endif %}
{% endif %}
<div class="ify-hide ify-quote-group ify-quote-group-{{product.id}}" data-targetid="{{product.id}}" data-targethandle="{{product.handle}}">
<button type="button" class="storeify-quote-btn-trigger-popup btn button button--primary ify-button-code" data-product="{{ product.handle }}">{{ label_btn }}</button>
{% assign productCollections = product.collections | map:'id' %}
<script id="ify_script_item_{{product.id}}">
    var storeifyRequestaquote = storeifyRequestaquote || {};
    storeifyRequestaquote.productdata = storeifyRequestaquote.productdata || {};
    storeifyRequestaquote.productdata['{{product.id}}'] = {"id":{{ product.id }},"title":{{ product.title | json }},"handle":"{{ product.handle }}","available":{{ product.available }},"vendor":"{{ product.vendor }}","type":"{{ product.type }}","tags":{{ product.tags | json }},"price":{{ product.price }}};
    storeifyRequestaquote.collections = storeifyRequestaquote.collections || {};
    storeifyRequestaquote.collections['{{product.id}}'] = {{ productCollections | json }};
</script>
</div>
  {% endform %}
</product-form>
